<div class="row">
  <div class="col m3 hide-on-small-only"></div>
  <div class="col s12 m6 validation_container" id="settings_list_validation">
  </div>
  <div class="col m3 hide-on-small-only"></div>
</div>
<div id="wizard_<%= views[viewIndex].name %>_validate_footer" class="row">
</div>
